body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/uploads/bgDTS.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

.file-viewer {
    margin-bottom: 20px;
}

.file-details {
    margin-bottom: 20px;
}

.file-details table {
    width: 100%;
    border-collapse: collapse;
}

.file-details th, .file-details td {
    border: 1px solid #ddd;
    padding: 8px;
}

.file-details th {
    background-color: #f2f2f2;
    text-align: left;
}

footer {
    text-align: center;
}

footer button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 5px;
}

footer button:hover {
    background-color: #0056b3;
}

footer button:active {
    background-color: #004080;
}

footer button:focus {
    outline: none;
    box-shadow: 0 0 5px #007BFF;
}

#qrcode {
    margin-bottom: 10px;
}

#shareQRCodeButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 5px;
}

#shareQRCodeButton:hover {
    background-color: #218838;
}

#shareQRCodeButton:active {
    background-color: #1e7e34;
}

#shareQRCodeButton:focus {
    outline: none;
    box-shadow: 0 0 5px #28a745;
}

#copyLinkButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #17a2b8;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 5px;
}

#copyLinkButton:hover {
    background-color: #138496;
}

#copyLinkButton:active {
    background-color: #117a8b;
}

#copyLinkButton:focus {
    outline: none;
    box-shadow: 0 0 5px #17a2b8;
}

#viewAttachmentButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ffc107;
    color: black;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 5px;
}

#viewAttachmentButton:hover {
    background-color: #e0a800;
}

#viewAttachmentButton:active {
    background-color: #c69500;
}

#viewAttachmentButton:focus {
    outline: none;
    box-shadow: 0 0 5px #ffc107;
}
