<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/static/css/admin_dnga.css">
</head>
<body>
    <div class="glassmorphism-box">
        <button onclick="window.location.href='/S_userOptions/addOffice.html'">Add Office</button>
        <button>Button 2</button>
        <button>Button 3</button>
        <button>Button 4</button>
        <button>Button 5</button>
        <button>Button 6</button>
        <button>Button 7</button>
        <button>Button 8</button>
        <button>Button 9</button>
        <button>Button 10</button>
        <button>Button 11</button>
        <button>Button 12</button>
        <button>Button 13</button>
        <button>Button 14</button>
        <button>Button 15</button>
        <button>Button 16</button>
        <button>Button 17</button>
        <button>Button 18</button>
        <button>Button 19</button>
        <button>Button 20</button>
        <!-- ...existing code... -->
    </div>
</body>
</html>
