<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/viewFile.css">
    <title>View File</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>View File</h1>
        </header>
        <main>
            <div class="file-details">
                <table>
                    <tr>
                        <th>Tracking No</th>
                        <td>{{ document.tracking_no }}</td>
                    </tr>
                    <tr>
                        <th>Document Type</th>
                        <td>{{ document.document_type }}</td>
                    </tr>
                    <tr>
                        <th>Document Properties</th>
                        <td>{{ document.document_properties }}</td>
                    </tr>
                    <tr>
                        <th>Subject</th>
                        <td>{{ document.subject }}</td>
                    </tr>
                    <tr>
                        <th>Date Released</th>
                        <td>{{ document.date_released.strftime('%B %d, %Y %I:%M %p') }}</td>
                    </tr>
                    <tr>
                        <th>Receiving Office</th>
                        <td>{{ document.receiving_office }}</td>
                    </tr>
                    <tr>
                        <th>Receiving Section</th>
                        <td>{{ document.receiving_section }}</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>{{ document.status }}</td>
                    </tr>
                    <tr>
                        <th>Document Category</th>
                        <td>{{ document.document_category }}</td>
                    </tr>
                </table>
            </div>
        </main>
        <footer>
            <button class="action-button" onclick="window.location.href='{{ url_for('index') }}'">Back</button>
        </footer>
    </div>
</body>
</html>
